.section-course {
  padding-bottom: 100px;
  background: #27293d;
  .course-main {
    padding: 48px;
    text-align: center;
    align-items: center;
    p {
      font-size: 86px;
      font-weight: 600;
      color: #ffffff;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    // margin-bottom: 18px;
  }
  .course-list {
    .course-item {
      padding: 16px;
      margin-bottom: 24px;
      background: #35374b;
      // margin: 4px;
      a {
        color: #ffffff;
      }
      .course-detail {
        display: flex;
        justify-content: space-between;
        span {
          padding-right: 8px;
          &.active {
            color: #ff0000;
          }
        }
      }
    }
  }
}