.prd-item {
  margin-bottom: 16px;
  .prd-img {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: 'Zen Loop', cursive;
    font-size: 18px;
    img {
      width: 100%;
      border-radius: 4px;
    }
    h4 {
      margin: 8px 0;
    }
  }
  .prd-action {
    width: 100%;
    background: pink;
    border: none;
    color: #000;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }
}
.content {
  width: 100%;
  a {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p {
    margin: 0;
    margin: 13px;
  }
}
.slick-slide img {
  width: 100%;
}
.page-main {
  height: calc(100% - 258px);
}
.text-center {
  width: 100%;
  text-align: center;
}