.item-main {
  position: relative;
  width: 500px;
  margin: 0 auto;
  background: #dcd8d8;
  border-radius: 3px;
  text-align: initial;
  padding: 10px;
  margin-bottom: 15px;
}
.btn-item {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 25px;
  cursor: pointer;
}
.text-uppercase {
  text-transform: uppercase;
}
