.page-header {
  background: #000;
  .header-page-top {
    display: flex;
    justify-content: space-between;
    padding: 24px 8px;
    background: #262626;
    position: fixed;
    top: 0;
    width: 100%;
    a {
      color: #ffffff;
      font-size: 18px;
    }
  }
  .header-page-bottom {
    margin-top: 65px;
    background: white;
    padding: 24px 0;
    .page-title {
      font-size: 26px;
    }
    a {
      color: #27293d;
    }
  }
  .container {
    display: flex;
    align-items: center;
    .header-account {
      margin-left: auto;
      display: flex;
      padding-left: 8px;
      align-items: center;
      a {
        font-size: 18px;
        padding-left: 16px;
        text-decoration: none;
      }
      li {
        position: relative;
        span {
          position: absolute;
          top: -10px;
          left: 5px;
          font-size: 15px;
        }
      }
    }
  }
}